.image-container {
    width: 200px; 
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.image-container img {
    width: 200px;
    height: auto; 
    max-height: 200px;
    object-fit: cover; 
    border-radius: 5px;
}
.image-caption {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 2em;
    display: none;
}
.image-container:hover .image-caption {
    display: block;
}
