
.section2 {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    background-color: #E6B8A2;
    padding: 20px; 
    overflow: hidden; 
}

.image-container {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    width: 30%; 
    position: relative;
    overflow: hidden; 
    border-radius: 10px;
}

.image-cropped-transform {
    width: 100px;
    height: 150px;
    object-fit: scale-down;
    overflow:hidden;
    /*position: absolute;
    top: 0;
    width: 100px;
    height: 200px;
    object-fit: cover;
    object-position: 55%;
    transform: scale(0.5) translate(0, 5%);*/
}

.image-caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.9em;
    display: none;
    text-align: center;
}

.image-container:hover .image-caption {
    display: block;
}

